@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.upload-page {
    padding: 0 toRem($padding-mobile-between-components-px);
    line-height: toRem($line-height-mobile-body-px);

    &__title {
        font-weight: 700;
        font-size: toRem($font-mobile-page-header-px);
        padding: toRem($padding-mobile-after-headlines-px) 0 0 0;

        @include tablet {
            //font-size: toRem($font-mobile-section-header-px);
            padding: 0 0 1.75rem 0;
        }
        @include desktop {
            padding: 0 0 toRem($padding-desktop-after-headlines-px) 0;
        }
    }

    &__subtitle {
        color: $primary-color-silver;
        font-size: toRem($font-mobile-subheader-px);
        padding: 2rem 0 0.5rem 0;
        font-weight: 700;

        @include tablet {
            padding: 0 0 toRem($padding-tablet-after-headlines-px) 0;
        }
        @include desktop {
            padding: 0 0 toRem($padding-desktop-after-headlines-px) 0;
        }
    }

    &__thumbnail {
        width: 100%;
    }

    &__description {
        height: 8rem;
    }

    &__button {
        margin: 1.5rem 0 1.5rem 0;
    }
}
