@function toRem($value) {
    $remValue: calc($value / 16) + rem;
    @return $remValue;
}

//FONT
@font-face {
    font-family: 'Avenir Next';
    src: url('../../assets/fonts/AvenirNextLTPro-Regular.otf')
            format('opentype'),
        url('../../assets/fonts/alternative-files/AvenirNextLTPro.ttf')
            format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Avenir Next';
    src: url('../../assets/fonts/AvenirNextLTPro-Bold.otf')
            format('opentype'),
        url('../../assets/fonts/alternative-files/AvenirNextLTProBold.ttf')
            format(truetype);
    font-weight: 700;
}

// BREAKPOINTS
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// COLORS
$primary-color-black: #323232;
$primary-color-blue: #0095ff;
$primary-color-silver: #afafaf;
$primary-color-white: #ffffff;

$secondary-color-darkblack: #000000;
$secondary-color-darkblue: #0065ad;
$secondary-color-mercury: #e1e1e1;
$secondary-color-alabaster: #fafafa;

$imput-error-state: #d22d2d;

// FONT SIZES
$font-mobile-page-header-px: 36;
$font-mobile-section-header-px: 28;
$font-mobile-navigation-link-px: 16;
$font-mobile-subheader-px: 18;
$font-mobile-body-px: 16;
$font-mobile-footer-px: 13;
$font-mobile-label-button-px: 10;
$font-mobile-paragraph-title-px: 18;
$font-mobile-quote-title-px: 18;
$font-mobile-quote-author-px: 18;

$font-tablet-page-header-px: 60;
$font-tablet-section-header-px: 36;
$font-tablet-navigation-link-px: 29;
$font-tablet-subheader-px: 24;
$font-tablet-body-px: 14;
$font-tablet-footer-px: 14;
$font-tablet-label-button-px: 12;
$font-tablet-paragraph-title-px: 20;
$font-tablet-quote-title-px: 20;
$font-tablet-quote-author-px: 14;

// PADDING
$padding-mobile-before-headlines-px: 48;
$padding-mobile-after-headlines-px: 32;
$padding-mobile-between-components-px: 16;

$padding-tablet-before-headlines-px: 48;
$padding-tablet-after-headlines-px: 36;
$padding-tablet-between-components-px: 56;

$padding-desktop-before-headlines-px: 48;
$padding-desktop-after-headlines-px: 36;
$padding-desktop-between-components-px: 120;

// LINE HEIGHT
$line-height-mobile-page-header-px: 32;
$line-height-mobile-section-header-px: 36;
$line-height-mobile-subheader-px: 22;
$line-height-mobile-body-px: 28;
$line-height-mobile-footer-px: 18;
$line-height-mobile-label-button-px: 20;
$line-height-mobile-paragraph-title-px: 28;
$line-height-mobile-quote-title-px: 32;
$line-height-mobile-quote-author-px: 24;

$line-height-tablet-page-header-px: 68;
$line-height-tablet-section-header-px: 44;
$line-height-tablet-subheader-px: 32;
$line-height-tablet-body-px: 22;
$line-height-tablet-footer-px: 22;
$line-height-tablet-label-button-px: 20;
$line-height-tablet-paragraph-title-px: 32;
$line-height-tablet-quote-title-px: 28;
$line-height-tablet-quote-author-px: 28;
