@use './styles/partials/variables' as *;
@use './styles/partials/mixins' as *;

/*
reset CSS
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}
/*
*
*/

body {
    font-family: 'Avenir Next', sans-serif;
    font-size: toRem($font-mobile-body-px);
    line-height: toRem($line-height-mobile-body-px);

    @include tablet {
        font-size: toRem($font-tablet-body-px);
        line-height: toRem($line-height-tablet-body-px);
    }
}
input,
textarea {
    font-family: unset;
    font-size: unset;
}
textarea {
    resize: none;
    overflow: hidden;
}

.button {
    background-color: $primary-color-blue;
    color: $primary-color-white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    border-radius: toRem(4);
    text-decoration: none;
    min-width: 12rem;
    border: unset;

    @include tablet {
        font-size: toRem($font-mobile-body-px);
    }

    &__button-image,
    &__button-spacer {
        width: 30px;
        padding-left: toRem(10);

        @include tablet {
            // max-width: unset;
            // max-height: unset;
        }
    }
}
.button:hover {
    background-color: $secondary-color-darkblue;
    cursor: pointer;
}

.button-as-text {
    color: $primary-color-blue;
    justify-content: center;
    background-color: $primary-color-white;
}
.button-as-text:hover {
    border: 1px solid $primary-color-blue;
    background-color: $primary-color-white;
}

.App {
    @include desktop {
        display: flex;
        flex-direction: column;
    }
}
.bottom-part {
    @include desktop {
        display: flex;
    }

    &__left-side {
        @include desktop {
            width: 65%;
        }
    }
    &__right-side {
        @include desktop {
            border-left: 1px solid $secondary-color-mercury;
            width: 35%;
        }
    }
}

.input-base {
    border-radius: 0.5rem;
    border: 1px solid $primary-color-silver;
    background-color: $secondary-color-alabaster;
    padding: 0.75rem;
    width: 100%;
}
