@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.video-details {
    @include tablet {
        padding: toRem($padding-tablet-after-headlines-px)
            toRem($padding-tablet-between-components-px)
            toRem($padding-tablet-after-headlines-px);
    }

    @include desktop {
        padding: toRem($padding-desktop-after-headlines-px) 2rem
            toRem($padding-desktop-after-headlines-px)
            toRem($padding-desktop-between-components-px);
    }

    &__title {
        font-weight: 700;
        font-size: toRem($font-mobile-page-header-px);
        padding: 1rem 0 1rem;
        margin: 0 toRem($padding-mobile-between-components-px);
        line-height: 2.75rem;
        border-bottom: 1px solid $secondary-color-mercury;

        @include tablet {
            font-size: toRem($font-tablet-page-header-px);
            border-bottom: unset;
            margin: unset;
        }
    }

    &__info-container {
        display: flex;
        padding: 1rem 0 1rem;
        margin: 0 toRem($padding-mobile-between-components-px);
        border-bottom: 1px solid $secondary-color-mercury;

        @include tablet {
            justify-content: space-between;
            margin: unset;
        }
    }

    &__owner {
        font-weight: 700;
    }

    &__left-column,
    &__right-column {
        display: flex;
        width: 50%;
        flex-direction: column;
        row-gap: 0.65rem;

        @include tablet {
            flex-direction: row;
            width: unset;
            column-gap: 2rem;
        }
    }

    &__views,
    &__likes {
        display: flex;
        column-gap: 0.35rem;
    }

    &__content {
        padding: 1rem 0 1rem;
        margin: 0 toRem($padding-mobile-between-components-px);

        @include tablet {
            line-height: toRem($line-height-tablet-body-px);
            margin: unset;
        }
    }
    &__date,
    &__likes,
    &__views {
        color: $primary-color-silver;
    }
}
